:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  color: #1a1a1a;
  background-color: #dee2e6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #213f7d;
}

.container {
  margin: 100px auto;
}
/*--------Seach--------------*/
.input {
  display: flex;
  margin: 25px auto 25px auto;
  padding: 10px 20px;
  outline: none;
  width: 250px;
  height: 150%;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color:  #213f7d;
  border-radius: 5px;
  border: 1px solid #213f7d;
}
.input:placeholder {
  color:#213f7d;
}

/*-------Table-----------*/
.table-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  overflow-x: auto;
  padding: 0 5px 0 5px;
  background: #fbfbfb;
  border-radius: 5px;
}
.table {
  border-collapse: collapse;
  width: 800px;
  margin: 25px auto 14px auto;
  /* border: 2px solid rgba(33, 63, 125, 0.1); */
}
.table-head {
  text-align: justify;
  border-bottom: 2px solid rgba(33, 63, 125, 0.1);
}

th {
  font-family: monospace;
  font-size: 20px;
}

.t-body {
  margin: 50px;
}
.t-row-body {
  margin: 50px;
  padding: 150px;
  height: 60px;
  border-width: 1px;
  border-bottom: 2px solid rgba(33, 63, 125, 0.1);
}
.t-row-body:last-child {
  border-bottom: none;
}

.table-data {
  padding: 3px 25px 3px 0;
  text-decoration: double;
}

/*--------- Pagination------------*/
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 25px;
  flex-wrap: wrap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.active {
  background: rgba(33, 63, 125, 0.1);
  color: #545f7d;
  font-weight: 500;
}

.page-num {
  padding: 4px 9px;
  cursor: pointer;
  border-radius: 4px;
}
.page-num:hover {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
}
.page {
  padding: 4px 9px;
}

.page:hover {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 3px;
  color: #545f7d;
}
